$namespace-base-class-name:ds !default;

$element-item:item;
$element-content:content;
$element-heading:heading;
$element-subtitle:subtitle;
$element-item:item;
$element-section:section;

$modifier-active:active;
$modifier-animated:animated;
$modifier-attached:attached;
$modifier-blur:blur;
$modifier-clear:clear;
$modifier-compact:compact;
$modifier-error:error;
$modifier-ghost:ghost;
$modifier-gradient:gradient;
$modifier-image:image;
$modifier-next:next;
$modifier-open:open;
$modifier-previous:previous;
$modifier-simple:simple;
$modifier-spaced:spaced;
$modifier-underlined:underlined;

$wrapper-group:group;

// Simplified exports ( as namespace.$class )
$base:$namespace-base-class-name !default;
