@use "sass:list";
@use "sass:map";
@use "themes";
@use "mixins";

$themes:(
  "ui-light":themes.$light-colorscheme,
  "ui-dark":themes.$dark-colorscheme,
) !default;
$extras:(
  "ui-light":null,
  "ui-dark":null,
) !default;
$nuances-prefixes:null !default;

$themes-keys:map.keys($themes);

@each $theme-name, $theme-colorscheme in $themes {
  $i: list.index($themes-keys, $theme-name);
  $is-first: $i == 1;

  $theme-extras: map.get($extras, $theme-name);
  @if ($is-first) {
    @include mixins.setters-from-map($theme-colorscheme);
  }

  @include mixins.define-theme(
    $array:$theme-colorscheme,
    $theme-name:$theme-name,
    $default:$is-first,
    $extras:$theme-extras,
    $nuances-names:$nuances-prefixes,
  );
}
