@use "sass:list";
@use "sass:map";
@use "themes";
@use "mixins";

$default-themes:(
  "ui-light":themes.$light-colorscheme,
  "ui-darko":themes.$dark-colorscheme,
);
$default-extras:(
  "ui-light":null,
  "ui-dark":null,
);

@mixin install-swatch(
  $themes:$default-themes,
  $extras:$default-extras,
  $nuances-prefixes:null,
) {
  $themes-keys:map.keys($themes);
  @each $theme-name, $theme-colorscheme in $themes {
    $i: list.index($themes-keys, $theme-name);
    $is-first: $i == 1;

    $theme-extras: map.get($extras, $theme-name);
    @debug THEME NAME $theme-name;
    @debug PAYLOAD $theme-colorscheme;
    @debug FIRST $is-first;
    @debug EXTRAS $theme-extras;
    @if ($is-first) {
      @include mixins.setters-from-map($theme-colorscheme);
    }

    @include mixins.define-theme(
      $array:$theme-colorscheme,
      $theme-name:$theme-name,
      $default:$is-first,
      $extras:$theme-extras,
      $nuances-names:$nuances-prefixes,
    );
  }
}

@include install-swatch;
